@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,600;0,700;1,300&display=swap');

$font-family: 'Nunito', sans-serif;

$gradient1: -webkit-linear-gradient(left,#7579ff, #b224ef);
$gradient2: -webkit-linear-gradient(left, #b224ef,#7579ff);
$gradient3: -webkit-linear-gradient(left, #5024ef,#031949);
$gradient4: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(122,9,171,1) 41%, rgba(0,101,121,0.8584384437368697) 100%);

$pink: #fd02f1;
$blue: #00d5ff;



